body {
  background: #f4f6f9;
  font-family: Arial;
}

.app {
  width: 350px;
  margin: 50px auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
}

h1 {
  text-align: center;
}

form {
  display: flex;
  gap: 10px;
}

input {
  flex: 1;
  padding: 8px;
}

button {
  padding: 8px 12px;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  padding: 6px;
  background: #eee;
  border-radius: 5px;
}

li.done span {
  text-decoration: line-through;
  color: gray;
}
